.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.headerContainer {
    box-shadow: 0 0 8px 8px #1d3557 inset;
}

.profile_pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    left: 45%;
    top: 90%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.picturesWrapper {
    position: relative;
    left: 0; 
    top: 0;
}

.detailsWrapper{
    padding-top: 150px;
    padding-left: 25px;
    font-size: 20px;
}

.detailsWrapper div{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.detailsWrapper div p{
    padding-left: 20px;
}

.interestList{
    box-shadow: none !important;
}

.interestWrapper{
    border-radius: .5rem;
    background-color: #3f6292;
    margin: 10px;
    display: block;
    text-align: center;
    padding-right: 0px !important;
}

.interestWrapper p{
    margin: auto;
    padding: 0 5px 0 5px !important;
}
.plusWrapper{
    cursor: pointer;
}
.plusWrapper p{
    padding: 0 15px 0 15px !important;
}
