.App {
  text-align: left;
  font-size: 1em;
}

nav{
  box-shadow: 0 8px 14px 0 rgb(0 0 0 / 4%);
}

.logo img{
  width: 150px
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding-left: 0px;
}

.push {
  margin-left: auto;
}

.push img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

li {
  display: flex;
  padding: 0 20px 0 20px;
  border-right: #f8f8ff 2px solid;
  margin: 10px 0 10px 0;
}



a:hover {
  transform: scale(1.1); 
}
a {
  text-decoration: none;
  color: #f8f8ff;
  margin: auto;
  transition: transform .2s;
}

.particles{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

